
body {
    margin: 0;
    padding: 0;
    background: #CCC;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Proxima Nova', proxima-nova;
    margin: 0;
}

@keyframes fadein {
    0% {
        opacity: 0.01;
    }
    10% {
        opacity: 0.01;
    }
    to {
        opacity: 1.0;
    }
}

a {
    color: navy;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
    &.error {
        border:1px solid red;
        background: #FEE;
    }
}

#flasher {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
    background: #96e1eb;

    a {
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        padding: 17px 20px;
    }
}

#save_the_date {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    @media (max-width: 799px) {
        min-height: 100vw;
    }
    @media (min-width: 800px) {
        min-height: 800px;
    }
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    display: block;
    background: white;
    animation: fadein 4s;
}

#keepMeInTheLoop {
    margin: 0;
    padding: 20px 10px 20px 10px;
    background: #eee;
    height: 200px;

    @media (max-width: 720px) {
        height: 350px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;

        & > div {
            width: calc(33% - 10px);
            height: 40px;
            margin: 5px;
                
            @media (max-width: 720px) {
                width: 100%;
            }

            input, button {
                width: 100%;
                padding: 5px;
                font-size: 16px;
                height: 40px;
                box-sizing: border-box;
            }
        }

    }
    
    .smallprint {
        font-size:11px;
        text-align: right;
        max-width: 800px;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        margin: 0 auto;
    }
}

#registries {
    margin: 0;
    padding: 20px 10px;
    background: #fff;
    margin-bottom: 200px;

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        max-width: 800px;
        padding: 0;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 200px;
            height: 200px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            margin: 20px;
            border: 1px solid #eee;
            box-shadow: 0 3px 5px rgba(0,0,0,0.2);
            padding: 10px;
            background: white;

            &:hover {
                box-shadow: 0 3px 5px rgba(0,0,0,0.3);
            }

            img {
                max-width: 200px;
                max-height: 200px;
            }
        }
    }
}

.invite {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    background: white;
    position: relative;
    overflow: hidden;

    .leavesall {
        width: 100%;
        z-index: 5;
        margin-top:-50px;
    }

    .names {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        margin-top:-50px;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        margin-top:-50px;
    }
}