
body {
    margin: 0;
    padding: 0;
    background: #888;
    text-align: center;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

@keyframes fadein {
    0% {
        opacity: 0.01;
    }
    10% {
        opacity: 0.01;
    }
    to {
        opacity: 1.0;
    }
}

#save_the_date {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    display: block;
    background: white;
    animation: fadein 4s;
}

#keepMeInTheLoop {
    margin: 0;
    padding: 20px 10px;
    background: #eee;
}

#registries {
    margin: 0;
    padding: 20px 10px;
    background: #fff;
}