<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="The Wedding of Meghan &amp; Cillié"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://malan.wedding/"/>
    <meta property="og:site_name" content="The Wedding of Meghan &amp; Cillié"/>
    <meta property="og:description" content="Save the Date! The Wedding of Meghan &amp; Cillié on Friday 13 April."/>
    <meta property="og:image" content="https://malan.wedding/facebook.jpg"/>

    <title>The Wedding of Meghan and Cillié</title>
    <script>
        //ghetto promise
        (function () {
            var recaptchaReady = [];
            window.logRecaptchaReady = function (callback) {
                recaptchaReady.push(callback);
            }
            window.recaptchaLoadCallback = function () {
                for (var i = 0; i < recaptchaReady.length; ++i) {
                    recaptchaReady[i].apply();
                }

                window.logRecaptchaReady = function (callback) {
                    callback();
                }
            }
        })();
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&amp;render=explicit" async defer></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #888;
            text-align: center;
            font-size: 1.1rem;
            font-family: proxima-nova;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="https://use.typekit.net/eji8xex.css">
</head>

<body>
    <div id="react-app"></div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=htmlWebpackPlugin.options.gaTrackingId%>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '<%=htmlWebpackPlugin.options.gaTrackingId%>');
    </script>
</body>

</html>